.layout-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #f4f7f6;
}

.layout-content-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.layout-main-content {
  flex: 1;
  overflow-y: auto;
  padding: 2rem;
  background-color: #f4f7f6;
}
